# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables / Secrets
# =========================
.env
.env/
*.env
.streamlit/secrets.toml
Main App/.env

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Temporary / Cache Files
# =========================
*.tmp
*.temp
*.bak
.cache/